body {
  font-family: 'Anaheim', sans-serif;
  color: #4d4d4d;
  font-size: 13px;
}
a {
  text-decoration: none;
}
.page {
  width: 940px;
  margin: 0 auto;
}
h2 {
  font-size: 18px;
  font-weight: normal;
}

/* Layout Styles */


.column-one-inner {
  border-right: 1px dashed #4d4d4d;
  padding: 0 10px;
}
.two-columns .column-two-inner {
  padding: 0 10px;
}
.three-columns .column-two-inner {
  border-right: 1px dashed #4d4d4d;
  padding: 0 10px;
}
.column-three-inner {
  padding: 0 10px;
}

.three-columns .column-one {
  width: 365px;
  float: left;
}
.three-columns .column-two {
  width: 365px;
  float: left;
}
.three-columns .column-three {
  width: 210px;
  float: left;
}

.two-columns .column-one {
  width: 365px;
  float: left;
}
.two-columns .column-two {
  width: 574px;
  float: left;
}

/* Navigation Styles */

.navigation {
  background: #4d4d4f;
  height: 110px;
  margin-bottom: 10px;
}

.navigation-left {
  width: 316px;
  float: left;
  text-align: right;
}

.nav-link {
  color: #FFFFFF;
}
.nav-link-current {
  color: #838383;
}

.navigation-right {
  float: left;
  width: 200px;
}

.nav-list {
  list-style: none;
  padding: 10px;
  margin: 0;
}
.nav-list > li {
  display: inline-block;
  line-height: 90px;
  height: 90px;
  padding: 0 10px;
}

.logo {
  float: left;
  font-family: 'Graduate', cursive;
  position: relative;
  width: 96px;
  height: 110px;
  font-size: 17px;
  color: #4D4D4D;
}
.logo-img {
  background: url('/images/logo_bg.png');
  position: absolute;
  width: 96px;
  height: 110px;
}
.logo-text-1 {
  position: absolute;
  top: 35px;
  left: 31px;
}
.logo-text-2 {
  position: absolute;
  top: 35px;
  left: 42px;
}
.logo-text-3 {
  position: absolute;
  top: 35px;
  left: 53px;
}
.logo-text-4 {
  position: absolute;
  top: 53px;
  left: 31px;
}
.logo-text-5 {
  position: absolute;
  top: 53px;
  left: 42px;
}
.logo-text-6 {
  position: absolute;
  top: 53px;
  left: 54px;
}


