/*
body {
  font-family: 'Anaheim', sans-serif;
  color: #4d4d4d;
  font-size: 13px;
}
a {
  text-decoration: none;
}
.page {
  width: 940px;
  margin: 0 auto;
}
h2 {
  font-size: 18px;
  font-weight: normal;
}
*/

#page {
  margin-bottom: 3em;
}

h3 {

}
