
@media #{$small-only} {
  #page {
    padding: 0 1em;
  }
  .l-two-col-right,
  .l-three-col-right {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px dashed $border-color;
  }
  .footer {
    padding: 0 1em;
  }
}

.l-full {
  @include grid-row();
  .l-full-inner {
    @include grid-column(12);
  }
}

.l-four-col {
  @include grid-row();
  min-height: 600px;

  .l-four-col-item {
    @include grid-column(3);
  }
}

@media #{$medium-up} {

.l-three-col {
  @include grid-row();

  .l-three-col-left {
    @include grid-column(5);
    border-right: 1px dashed $border-color;
  }
  .l-three-col-mid {
    @include grid-column(5);
    border-right: 1px dashed $border-color;
  }
  .l-three-col-right {
    @include grid-column(2);
  }
}


.l-two-col {
  @include grid-row();

  .l-two-col-left {
    @include grid-column(8);
    border-right: 1px dashed $border-color;
  }
  .l-two-col-right {
    @include grid-column(4);
  }
}


.l-two-col-swap {
  @include grid-row();

  .l-two-col-left {
    @include grid-column(4);
  }
  .l-two-col-right {
    @include grid-column(8);
    border-left: 1px dashed $border-color;
  }
}

}

/*
.column-one-inner {
  border-right: 1px dashed #4d4d4d;
  padding: 0 10px;
}
.two-columns .column-two-inner {
  padding: 0 10px;
}
.three-columns .column-two-inner {
  border-right: 1px dashed #4d4d4d;
  padding: 0 10px;
}
.column-three-inner {
  padding: 0 10px;
}

.three-columns .column-one {
  width: 365px;
  float: left;
}
.three-columns .column-two {
  width: 365px;
  float: left;
}
.three-columns .column-three {
  width: 210px;
  float: left;
}

.two-columns .column-one {
  width: 365px;
  float: left;
}
.two-columns .column-two {
  width: 574px;
  float: left;
}
*/
