
.logo {
  margin: 0 auto;
  font-family: 'Graduate', cursive;
  position: relative;
  width: 96px;
  height: 110px;
  font-size: 17px;
  color: #4D4D4D;
}
.logo-img {
  background: url('../img/logo_bg.png') 0 -3px;
  position: absolute;
  width: 96px;
  height: 110px;
}
.logo-text-1 {
  position: absolute;
  top: 35px;
  left: 31px;
}
.logo-text-2 {
  position: absolute;
  top: 35px;
  left: 42px;
}
.logo-text-3 {
  position: absolute;
  top: 35px;
  left: 53px;
}
.logo-text-4 {
  position: absolute;
  top: 51px;
  left: 31px;
}
.logo-text-5 {
  position: absolute;
  top: 51px;
  left: 42px;
}
.logo-text-6 {
  position: absolute;
  top: 51px;
  left: 54px;
}
