.navigation {
  background: #4d4d4f;
  height: 110px;
  margin-bottom: 10px;
}

.navigation-left {
  width: 316px;
  float: left;
  text-align: right;
}

.nav-link {
  color: #FFFFFF;
}
.nav-link-current {
  color: #838383;
}

.navigation-right {
  float: left;
  width: 200px;
}

.nav-list {
  list-style: none;
  padding: 10px;
  margin: 0;
}
.nav-list > li {
  display: inline-block;
  line-height: 90px;
  height: 90px;
  padding: 0 10px;
}

.logo {
  float: left;
  font-family: 'Graduate', cursive;
  position: relative;
  width: 96px;
  height: 110px;
  font-size: 17px;
  color: #4D4D4D;
}
.logo-img {
  background: url('../img/logo_bg.png');
  position: absolute;
  width: 96px;
  height: 110px;
}
.logo-text-1 {
  position: absolute;
  top: 37px;
  left: 31px;
}
.logo-text-2 {
  position: absolute;
  top: 37px;
  left: 42px;
}
.logo-text-3 {
  position: absolute;
  top: 37px;
  left: 53px;
}
.logo-text-4 {
  position: absolute;
  top: 53px;
  left: 31px;
}
.logo-text-5 {
  position: absolute;
  top: 53px;
  left: 42px;
}
.logo-text-6 {
  position: absolute;
  top: 53px;
  left: 54px;
}
