
#header {
  background: $header-bg;
  margin-bottom: 1.5em;
}

.header-nav-list {
  @include inline-list;
  & > li {
    & > a {
      color: #fff;
    }
  }
}

.mobile-nav {
  @include button-group-container;
  & > li {
    @include button-group-style($even: 4);
    & > a {
      @include button($bg: #fff, $full-width: true);
    }
  }
}


.header-inner {
  @include grid-row();

  .header-nav-left {
    @include grid-column(3);
    margin-top: 3.35em;
  }
  .header-nav-logo {
    @include grid-column(2);
  }
  .header-nav-right {
    @include grid-column(7);
    margin-top: 3.35em;
  }
}

@media #{$small-only} {
  .page-footer {
    border-top: 1px dashed $border-color;
    padding-top: 1em;
    text-align: center;
    padding-bottom: 2em;
  }
  .page-footer-social {
    display: none;
  }
}

@media #{$medium-up} {
  .page-footer {
    @include grid-row();
    padding-top: 0.5em;
    margin-top: 2em;
    border-top: 1px dashed $border-color;

    .page-footer-name {
      @include grid-column($columns: 3);
      text-align: center;
    }
    .page-footer-phone {
      @include grid-column($columns: 3);
      border-left: 1px dashed $border-color;
      text-align: center;
    }
    .page-footer-mail {
      @include grid-column($columns: 3);
      border-left: 1px dashed $border-color;
      border-right: 1px dashed $border-color;
      text-align: center;
    }
    .page-footer-social {
      @include grid-column($columns: 3);
      text-align: center;
    }
  }
}


@media #{$large-up} {
  .page-footer {
    @include grid-row();
    padding-top: 0.5em;
    margin-top: 2em;
    border-top: 1px dashed $border-color;

    .page-footer-name {
      @include grid-column($columns: 2, $offset: 2);
      text-align: center;
    }
    .page-footer-phone {
      @include grid-column(2);
      border-left: 1px dashed $border-color;
      text-align: center;
    }
    .page-footer-mail {
      @include grid-column(2);
      border-left: 1px dashed $border-color;
      border-right: 1px dashed $border-color;
      text-align: center;
    }
    .page-footer-social {
      @include grid-column(2);
      text-align: center;
    }
  }
}



@import "logo";


/*

.navigation {
  background: #4d4d4f;
  height: 110px;
  margin-bottom: 10px;
}

.navigation-left {
  width: 316px;
  float: left;
  text-align: right;
}

.nav-link {
  color: #FFFFFF;
}
.nav-link-current {
  color: #838383;
}

.navigation-right {
  float: left;
  width: 200px;
}

.nav-list {
  list-style: none;
  padding: 10px;
  margin: 0;
}
.nav-list > li {
  display: inline-block;
  line-height: 90px;
  height: 90px;
  padding: 0 10px;
}


*/
