
#header {
  background: $header-bg;
  margin-bottom: 1.5em;
}

.header-nav-list {
  @include inline-list;
  & > li {
    & > a {
      color: #fff;
    }
  }
}

.header-inner {
  @include grid-row();

  .header-nav-left {
    @include grid-column(3);
    margin-top: 3.35em;
  }
  .header-nav-logo {
    @include grid-column(2);
  }
  .header-nav-right {
    @include grid-column(7);
    margin-top: 3.35em;
  }
}

@import "logo";


/*

.navigation {
  background: #4d4d4f;
  height: 110px;
  margin-bottom: 10px;
}

.navigation-left {
  width: 316px;
  float: left;
  text-align: right;
}

.nav-link {
  color: #FFFFFF;
}
.nav-link-current {
  color: #838383;
}

.navigation-right {
  float: left;
  width: 200px;
}

.nav-list {
  list-style: none;
  padding: 10px;
  margin: 0;
}
.nav-list > li {
  display: inline-block;
  line-height: 90px;
  height: 90px;
  padding: 0 10px;
}


*/
