
$base-font-size: 13px;
$rem-base: $base-font-size;

$body-font-family: 'Anaheim', sans-serif;
$body-font-color: #4d4d4d;

// $body-bg: #fff;
$primary-color: #ff0000;
// $secondary-color: #e7e7e7;
// $alert-color: #f04124;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;

$header-bg: #4d4d4f;
$border-color: #4d4d4d;


// $h1-font-size: rem-calc(44);
$h2-font-size: rem-calc(18);
$h3-font-size: rem-calc(16);
// $h4-font-size: rem-calc(23);
// $h5-font-size: rem-calc(18);
// $h6-font-size: 1rem;
