---
layout: html
---

<header id="header">
  <div class="header-inner">
    <div class="header-nav-left">
      <ul class="header-nav-list right hide-for-small-only">
        <li><a href="/index_dev.html">home</a></li>
        <li><a href="/projects/">projects</a></li>
      </ul>
    </div>
    <div class="header-nav-logo">
      {% include logo.html %}
    </div>
    <div class="header-nav-right">
      <ul class="header-nav-list hide-for-small-only">
        <li><a href="/news/">news</a></li>
        <li><a href="/contact/">contact</a></li>
      </ul>
    </div>
  </div>
</header>

<ul class="mobile-nav show-for-small-only">
  <li><a href="/index_dev.html">home</a></li>
  <li><a href="/projects/">projects</a></li>
  <li><a href="/news/">news</a></li>
  <li><a href="/contact/">contact</a></li>
</ul>

<div id="page">
  {{ content }}
</div>


<div class="page-footer">
  <div class="page-footer-name">
    superbros
  </div>
  <div class="page-footer-phone">
    +44(0)20 8981 9367
  </div>
  <div class="page-footer-mail">
    info&#64;superbros.co.uk
  </div>
  <div class="page-footer-social">
    <ul class="social-links">
      <li><a href="#"><i class="icon icon-facebook"></i></a></li>
      <li><a href="#"><i class="icon icon-twitter"></i></a></li>
      <li><a href="#"><i class="icon icon-behance"></i></a></li>
      <li><a href="#"><i class="icon icon-googleplus"></i></a></li>
    </ul>
  </div>
</div>
